
/*----------------- overall structure --------------------*/
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500,600,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap'); /* main header and pretext font */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&display=swap'); /*descriptions font*/
body {
    margin: 0;
    /* font-family: 'Inter', sans-serif; */
    color: #4A2C2A;
    max-width:fit-content;
}

/* last minute fix for improper website scaling */
.page-wrapper{
    width: 950px;
    transform-origin: top left;
    transform: scale(calc(100vw / 950px));
}

.pretext {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    margin-bottom: 3px;
}

.main.headers { /* class selector for all main headers */
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.description {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    margin-top: 3px;
    line-height: 15px;
}

/* might be useless */
.buttons {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/*----------------- serving sunshine specific overrides ------------*/

.serving-sunshine .text{
    display: flex;
    flex-direction: column; /* text blocks and buttons on top of e/o */
}

.serving-sunshine .buttons{
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.serving-sunshine .buttons .btn{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 11px;
    font-weight: 600;
    color: white;
    border: 6px;
    border-radius: 20px;
    height: 35px;
    width: 125px;
    background-color: #4A2C2A;
}

.serving-sunshine .buttons .btn2{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 11px;
    font-weight: 600;
    color: #4A2C2A;
    border-style: solid;
    border-width: 2px;
    border-color: #4A2C2A;
    border-radius: 20px;
    height: 35px;
    width: 100px;
    background-color: #FFCAD4 ;
}

.serving-sunshine .image{
    padding-left: 70px;
    padding-top: 95px;
}

.serving-sunshine {
    background-color: #FFCAD4;
    display: flex; /* horiztonal layout by default*/
    align-items: center; /* controls vertical position */
    justify-content: flex-start;    /* controls horizontal position position (defaults to flex-direction:row) */
    height: 440px;
    padding-left: 40px;
    
}

/*----------------- flavors specific overrides ------------*/

.flavors .text{
    display: flex;
    flex-direction: column;
    
}

.flavors .pretext{
    margin-bottom: 2px;
}

.flavors .main.headers{
    margin-top: 2px;
}

.flavors .image {
    display: flex;
    padding-bottom: 30px;
}

.flavors .card-container{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 20px;
    
}

.flavors .card-container .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 170px;
    height: 270px;
    transition: transform 0.2s ease;

}

.flavors .card-container .card .card-content{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
    font-size: 11px;
    margin-left: 15px;
}

.flavors .card-container .card .card-content .card-labels{
    font-size: 15px;
    margin-bottom: 0px;
}

.flavors .card-container .card .card-content .card-descriptions{
    font-size: 9px;
    margin-bottom: 0px;
    line-height: 14px;
}


.flavors {
    background-color: #FFFDF9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    height: 570px;
}

/*----------------- churned specific overrides ------------*/
.churned .text{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.churned .image{
    padding-right: 70px; /*space between image and text */
}

.churned .tips{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;

    /* tip labels or text */
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

.churned .tips .image-tips{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}

.churned {
    background-color: #BDE9D1;
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
    justify-content: flex-start;
    padding-left: 60px;
    height: 440px;
}

.image-churned{
    display: flex;
    flex-direction: column;
}

/*----------------- peach specific overrides ------------*/

.peach .text .pretext {
    font-size: 12px;
    font-weight: 700;
}
.peach .main.headers{
    font-size: 40px;
}

.peach .buttons {
    margin-top: 10px;
}

.peach .buttons .btn{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 11px;
    font-weight: 600;
    color: white;
    border: 6px;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    background-color: #4A2C2A;
}

.peach {
    background-color: #FEE440;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
}

/*----------------- fanfaves specific overrides ------------*/

.fanfaves .card-container{
    display: flex;
    gap: 20px;
    text-align: left;
    margin-top: 30px;

}

.fanfaves .card-container .image-star{
    margin-left: 10px;
    margin-top: 10px;
}

.fanfaves .card-container .card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 250px;
    height: 150px;
}

.fanfaves .card-container .card .card-content{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
    font-size: 11px;
    margin-left: 15px;
}

.fanfaves {
    background-color: #FFFDF9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    height: 330px;
}

/*----------------- rewards specific overrides ------------*/

.rewards .reqs{
    display: flex;
    align-items: center;
    gap: 7px;

    /* tip labels or text */
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

.rewards .buttons .btn{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 11px;
    font-weight: 600;
    color: white;
    border: 6px;
    border-radius: 20px;
    height: 35px;
    width: 125px;
    background-color: #4A2C2A;
    margin-top: 15px;
}

.rewards {
    background-color: #F2E9FB;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* vertical alignment */
    padding-top: 80px;
    justify-content: flex-start; /* horizontal alignment */
    padding-left: 40px;
    text-align: left;
    height: 320px;
}

/*----------------- smile specific overrides ------------*/

.smile .main.headers{
}

.smile .image{
    padding-top: 30px;
    padding-left: 120px;
}
.smile {
    background-color: #FFFDF9;
    display: flex;
    flex-direction: column; /* makes text and image stack on top of e/o, instead of side by side */
    align-items: flex-start;
    padding-top: 60px;
    justify-content: flex-start;
    padding-left: 300px;
    text-align: center;
    height: 440px;
}

/*----------------- footer specific overrides ------------*/
.footer {
    background-color: #4A2C2A;
}

